body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    gap: 16px;
}